@import 'components/extends/search-friends'

.friends
    position: fixed
    top: 0
    left: -100%
    height: 100vh
    width: 100%
    max-width: 500px
    transition: all .3s ease-in
    z-index: 1030
    .friends-form, .friends-result
        opacity: 1
        visibility: visible
    .friends-list
        height: 80%
        overflow-y: auto
        @extend %search-friends-result
    &.show
        left: 0
        @extend %search-friends-show
        .friends-form
            @extend %search-friends-form
            max-width: 500px
            .friends-input-container
                position: relative
                .friends-close
                    @extend %search-friends-close
                .friends-input
                    @extend %search-friends-input
        .friends-list.searching
            height: 80%
            @extend %search-friends-result-searching
            animation: opacity1-visibility1 2s forwards
        .friend-item
            padding: 3px 5px
            margin: 2px 0
            border-radius: 3px
            &:hover
                background-color: rgba($blue-secondary, .05)
                font-weight: bold
                .friend-item-action
                    color: $dark-primary
                .avatar
                    transform: scale(1.2)
            a, a:link, a:active, a:visited
                color: $white
                padding: 5px 5px
                text-decoration: none
                &:hover
                    font-weight: bold
                    letter-spacing: 1px
        .following.btn.active, .followers.btn.active
            background-color: rgba($blue-secondary, .35)
    .avatar
        width: 40px
        height: 40px
        border-radius: 50%
        margin-right: 5px

.friends-list 
    .friends-box
        background: $dark-primary
        top: -15px
    .followers-list
        display: none
    .following-list
        display: block
.friends-list.followers 
    .followers-list
        display: block
    .following-list
        display: none

