.search__container
    padding: .4rem 0
    display: inline-block
    .checkbox
        display: none
    .search-label
        display: inline
        border-radius: 50%
    .search-input
        opacity: 0
        visibility: hidden
        display: none